body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Laptop Optimisation */

.schrinner-section {
  min-height: 70vh;
}

.schrinner-footer {
  min-height: 20vh;
}

.schrinner-nav {
  min-height: 10vh;
}

/* Nav Section */

.schrinner-dot-nav {
  font-size: 2rem;
}

.dropdown-toggle::after {
  display: none;
}

.schrinner-logo {
  height: 100%;
  width: 50%;
  padding-left: 17px;
}

.schrinner-box-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.schrinner-box {
  width: 32%;
  height: 16rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.schrinner-box:hover {
  background-color: #7d794e;
}

.schrinner-box p {
  word-break: break-all;
  white-space: normal;
  align-content: center;
}

.schrinner-top-logo {
  height: 24px;
  width: 64px;
}
#schriiner-nav {
  translate: 0px 12px;
}

.image-section {

}

.image-section .portrait-pic {
  width: 100%;
}

.contact-section {

}

/* Footer Section */


/* Mobile Optimisation */
@media only screen and (max-width: 640px) {
  .schrinner-box {
    width: 80% !important;
    height: 8rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .schrinner-logo {
    height: 100%;
    width: 100% !important;
  }
}


